Source: libdesktop-agnostic
Section: libs
Priority: extra
Maintainer: Julien Lavergne <julien.lavergne@gmail.com>
Build-Depends:
 debhelper (>= 9~),
 gobject-introspection (>= 0.6.3),
 intltool,
 libdbus-glib-1-dev,
 libgconf2-dev,
 libgirepository1.0-dev (>= 0.6.3),
 libgladeui-1-dev,
 libglib2.0-dev (>= 2.18.0),
 libgnome-desktop-dev,
 libgtk2.0-dev,
 python (>= 2.6.6-3~),
 python-dev (>= 2.6.6-3~),
 python-gobject-dev (>= 2.12),
 python-gtk2-dev (>= 2.12),
 python-sphinx (>= 1.0.7+dfsg),
 valac-0.14 (>= 0.14.0) | valac
Standards-Version: 3.9.6
Homepage: https://launchpad.net/libdesktop-agnostic
DM-Upload-Allowed: yes

Package: libdesktop-agnostic0
Architecture: any
Depends:
 libdesktop-agnostic-data (>= ${source:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Suggests:
 libdesktop-agnostic-cfg,
 libdesktop-agnostic-fdo,
 libdesktop-agnostic-vfs
Description: Desktop-agnostic library for GLib-based projects
 This library provides an extensible configuration API, a unified virtual file
 system API, and a desktop item editor (all with pluggable backends) for
 GLib-based projects. It is not tied to any one desktop environment, although
 there are desktop-specific modules.
 .
 This package contains the core library.

Package: libdesktop-agnostic-data
Architecture: any
Depends:
 ${misc:Depends}
Description: Locales and data for libdesktop-agnostic
 This library provides an extensible configuration API, a unified virtual file
 system API, and a desktop item editor (all with pluggable backends) for
 GLib-based projects. It is not tied to any one desktop environment, although
 there are desktop-specific modules.
 .
 This package contains the locales for libdesktop-agnostic.

Package: libdesktop-agnostic-vfs-gio
Architecture: any
Depends:
 libdesktop-agnostic0 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Provides:
 libdesktop-agnostic-vfs
Description: GIO-based VFS module for libdesktop-agnostic
 This library provides an extensible configuration API, a unified virtual file
 system API, and a desktop item editor (all with pluggable backends) for
 GLib-based projects. It is not tied to any one desktop environment, although
 there are desktop-specific modules.
 .
 This package contains the GIO module.

Package: libdesktop-agnostic-cfg-gconf
Architecture: any
Depends:
 libdesktop-agnostic0 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Provides:
 libdesktop-agnostic-cfg
Description: GConf-based configuration module for libdesktop-agnostic
 This library provides an extensible configuration API, a unified virtual file
 system API, and a desktop item editor (all with pluggable backends) for
 GLib-based projects. It is not tied to any one desktop environment, although
 there are desktop-specific modules.
 .
 This package contains the GConf module.

Package: libdesktop-agnostic-cfg-keyfile
Architecture: any
Depends:
 libdesktop-agnostic0 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Provides:
 libdesktop-agnostic-cfg
Description: Keyfile-based configuration module for libdesktop-agnostic
 This library provides an extensible configuration API, a unified virtual file
 system API, and a desktop item editor (all with pluggable backends) for
 GLib-based projects. It is not tied to any one desktop environment, although
 there are desktop-specific modules.
 .
 This package contains the keyfile-based configuration module.

Package: libdesktop-agnostic-fdo-gnome
Architecture: any
Depends:
 libdesktop-agnostic0 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Provides:
 libdesktop-agnostic-fdo
Description: GNOME-based desktop entry/menu module for libdesktop-agnostic
 This library provides an extensible configuration API, a unified virtual file
 system API, and a desktop item editor (all with pluggable backends) for
 GLib-based projects. It is not tied to any one desktop environment, although
 there are desktop-specific modules.
 .
 This package contains the GNOME-based desktop entry/menu module.

Package: libdesktop-agnostic-fdo-glib
Architecture: any
Depends:
 libdesktop-agnostic0 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Provides:
 libdesktop-agnostic-fdo
Description: GLib-based desktop entry/menu module for libdesktop-agnostic
 This library provides an extensible configuration API, a unified virtual file
 system API, and a desktop item editor (all with pluggable backends) for
 GLib-based projects. It is not tied to any one desktop environment, although
 there are desktop-specific modules.
 .
 This package contains the GLib-based desktop entry/menu module.

Package: libdesktop-agnostic-fdo-gio
Architecture: any
Depends:
 libdesktop-agnostic0 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Provides:
 libdesktop-agnostic-fdo
Description: GIO-based desktop entry/menu module for libdesktop-agnostic
 This library provides an extensible configuration API, a unified virtual file
 system API, and a desktop item editor (all with pluggable backends) for
 GLib-based projects. It is not tied to any one desktop environment, although
 there are desktop-specific modules.
 .
 This package contains the GIO-based desktop entry/menu module.

Package: libdesktop-agnostic0-dbg
Section: debug
Architecture: any
Depends:
 libdesktop-agnostic0 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Description: Debugging symbols for libdesktop-agnostic
 This library provides an extensible configuration API, a unified virtual file
 system API, and a desktop item editor (all with pluggable backends) for
 GLib-based projects. It is not tied to any one desktop environment, although
 there are desktop-specific modules.
 .
 This package contains the debugging symbols for the core library.

Package: libdesktop-agnostic-dev
Section: libdevel
Architecture: any
Depends:
 libdesktop-agnostic0 (= ${binary:Version}),
 libglib2.0-dev,
 libgtk2.0-dev,
 ${misc:Depends},
 ${shlibs:Depends}
Suggests:
 glade (>= 3) | glade-3
Replaces:
 vala-desktop-agnostic
Conflicts:
 vala-desktop-agnostic
Description: Development files for libdesktop-agnostic
 This library provides an extensible configuration API, a unified virtual file
 system API, and a desktop item editor (all with pluggable backends) for
 GLib-based projects. It is not tied to any one desktop environment, although
 there are desktop-specific modules.
 .
 This package contains the development files for the core library.

Package: libdesktop-agnostic-doc
Architecture: all
Section: doc
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ${sphinxdoc:Depends}
Description: Documentation for libdesktop-agnostic
 This library provides an extensible configuration API, a unified virtual file
 system API, and a desktop item editor (all with pluggable backends) for
 GLib-based projects. It is not tied to any one desktop environment, although
 there are desktop-specific modules.
 .
 This package contains the documentation for the core library.

Package: libdesktop-agnostic-bin
Architecture: any
Depends:
 libdesktop-agnostic-cfg-gconf,
 libdesktop-agnostic0 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Description: Helper applications for libdesktop-agnostic
 This library provides an extensible configuration API, a unified virtual file
 system API, and a desktop item editor (all with pluggable backends) for
 GLib-based projects. It is not tied to any one desktop environment, although
 there are desktop-specific modules.
 .
 This package contains helper applications for libdesktop-agnostic, such as a
 schema converter.

Package: python-desktop-agnostic
Section: python
Architecture: any
Depends:
 libdesktop-agnostic0 (>= ${binary:Version}),
 ${misc:Depends},
 ${python:Depends},
 ${shlibs:Depends}
XB-Python-Version: ${python:Versions}
Description: Python bindings for libdesktop-agnostic
 This library provides an extensible configuration API, a unified virtual file
 system API, and a desktop item editor (all with pluggable backends) for
 GLib-based projects. It is not tied to any one desktop environment, although
 there are desktop-specific modules.
 .
 This package contains the Python bindings for the core library.
