#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk
LDFLAGS += -Wl,--as-needed

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

CONFIGURE_FLAGS = \
	--prefix=/usr \
	--sysconfdir=/etc \
	--libdir=/usr/lib/$(DEB_HOST_MULTIARCH) \
	--enable-debug \
	--config-backends=gconf,keyfile \
	--vfs-backends=gio \
	--desktop-entry-backends=glib,gio \
	--enable-docs

override_dh_auto_configure:
	LINKFLAGS="${LDFLAGS}" ./waf --nocache configure $(CONFIGURE_FLAGS)

override_dh_auto_build:
	mkdir -p docs/_static/
	./waf --nocache -vv build

override_dh_auto_install:
	./waf --nocache install --destdir=$(CURDIR)/debian/tmp

override_dh_strip:
	dh_strip --dbg-package=libdesktop-agnostic0-dbg

override_dh_auto_clean:
	./waf --nocache distclean
	rm -rf build sphinx.pyc
	find wafadmin -name "*.pyc" -delete

%:
	dh $@ --parallel --with sphinxdoc,python2

get-orig-source:
	sh debian/get-git-source.sh

.PHONY: get-orig-source
